<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Error!</strong> <span>{{message}}.</span>
</div>