<div class="header">
  <h3>Top Five Users</h3>
</div>
<ol>
{{#each this}}
  <li>{{name}}: <b>{{formatPercentage score}}%</b></li>
{{/each}}
</ol>
<p class="clear-all-p"><button id="clear-all" class="btn btn-danger">Clear all</button></p>