<p>You will participate again as <b>{{name}}</b> (<b>{{email}}</b>).</p>
<p>
  <button class="btn btn-primary" data-route="question-1">Start as {{name}}</button>
  <button class="btn btn-primary" data-route="">Change user</button>
</p>