<p>You will participate again as <b>{{name}}</b> (<b>{{email}}</b>).</p>
<p>
  <a href="/question-1" class="btn btn-primary">Start as {{name}}</a>
  <a href="/" class="btn btn-primary">Change user</a>
</p>